.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

h1 {
    color: red;
}

.title-h1 {
    background: url(/svg/icons-2.svg#circle) no-repeat;
    padding-left: 2em;
    color: greenyellow;
}